@import 'src/_Color.sass';


//define colors
$orange: #f44e27;
$black: #191919;

.beer-reviews {

  * {
    box-sizing: border-box;
  }


  .tooltip {
    cursor: default;
    position: relative;
  }

  .container {
    max-width: 800px;
  }

  .tooltip-text {
    background-color: #333;
    border-radius: 4px;
    bottom: 100%;
    color: #fff;
    font-size: 0.8rem;
    left: 50%;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    transform: translateX(-50%);
    transition: opacity 0.2s, visibility 0.2s;
    visibility: hidden;
    width: 150px;
    z-index: 1;


    &.active {
      opacity: 0.9;
      visibility: visible;
    }
  }

  .subheading-sm {
    font-size: 0.95rem;
    font-weight: 300;
    margin-bottom: 0;
  }

  .review {
    border-top: 1px solid #eaeaea;

    .review-meta {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

    }

    .user-info {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
    }

    .user-comment {
      width: 100%;
    }


    .review-meta .user-avatar {
      border-radius: 50%;
      height: 50px;
      margin-right: 10px;
      max-width: 50px;
      overflow: hidden;
      width: 50px;
    }

    .date {
      color: #999;
      font-size: 0.8rem;
      margin-left: auto;
    }

  }

  .rating-wrap {


    align-items: center;
    color: $orange;
    display: flex;

    .num-rating {
      font-size: 0.9rem;
      margin-left: 5px;
    }
  }

  .star-rating {
    align-items: center;
    display: flex;


    .lucide {
      color: $orange;
    }

    .lucide-star.empty {
      color: #bbb;
      opacity: 0.6;

    }

    .half-star {
      display: flex;
      position: relative;

      .lucide-star.empty {
        left: 0;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }
  }

  .beer-specs {

    .column.stat{
      padding:0.5rem;
    }

    .beer-spec {
      background: #f0f0f0ba;
      border-radius: 5px;
      color: #646464;
      font-size: 0.9rem;
padding:1rem 0.5rem;

      font-weight: 400;
      margin-bottom: 10px;
      text-align: center;
    }

    .stat-icon {
      color: $orange;
      display: block;
      margin: 0 auto 5px;
      min-height: 1.2rem;
      min-width: 1.2rem;
    }


    .beer-spec > .subheading {
      line-height: 1.1rem;

    }

  }

  .beer-info {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem;
    &:first-child {
      border-bottom: 1px solid #eaeaea;
    }


    .star-rating .lucide {
      max-height: 1.3em;
      max-width: 1.4em;
    }

    .beer-label {
      max-width: 100px;
      min-width: 100px;
      width: 25%;

      .logo-wrap__sm {
        max-width: 60px;
      }
    }

    .beer-info-content {
      align-self: center;
      min-width: 75%;
      width: 75%;
    }
  }

  .card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  .lucide {
    max-height: 1.1em;
    max-width: 1.1em;
  }

  h1 {
    color: $black;

    &.display-sm {
      font-size: 2.5rem;
      font-weight: 800;
    }
  }


  h3 {
    &.display-sm {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  .py-1 {
    padding: 1rem 0 !important;
  }

  .px-1 {
    padding: 0 1rem !important;
  }

  .p-1 {
    padding: 1rem !important;
  }

  .mx-auto {
    margin: 0 auto !important;
  }

  .mr-05 {
    margin-right: 0.5rem !important;
  }


  .p-05 {
    padding: 0.5rem;
  }


  .m-0 {
    margin: 0 !important;
  }

  .mt-1 {
    margin-top: 1rem;
  }

  .mb-1 {
    margin-bottom: 1rem !important;
  }

  .pb-0 {
    padding-bottom: 0 !important;
  }

  .flex {
    display: flex;
  }

  @media (max-width: 40.0rem) {
    .beer-info {
      flex-wrap: wrap;
    }


    .beer-info .beer-label {
      margin: 0 auto;
    }
    .beer-info .beer-info-content {
      text-align: center;
      width: 100%;
    }
    .beer-info .rating-wrap {
      justify-content: center;

    }

  }

}

