@import 'src/_Color.sass';

.beer-reviews {

  * {
    box-sizing: border-box;
  }

  .mx-auto {
    margin: 0 auto !important;
  }

  .tooltip {
    cursor: pointer;
    position: relative;
  }

  .tooltip-text {
    background-color: #333;
    border-radius: 4px;
    bottom: 100%;
    color: #fff;
    font-size: 0.8rem;
    left: 50%;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    transform: translateX(-50%);
    transition: opacity 0.2s, visibility 0.2s;
    visibility: hidden;
    width: 150px;
    z-index: 1;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }


  .review {
    .review-meta {
      align-items: center;
      display: flex;
      //justify-content: space-between;
      flex-wrap: wrap;

    }

    .user-info {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
    }

    .user-comment {
      width: 100%;
    }


    .review-meta .user-avatar {
      border-radius: 50%;
      height: 50px;
      margin-right: 10px;
      max-width: 50px;
      overflow: hidden;
      width: 50px;
    }

    .date {
      color: #999;
      font-size: 0.8rem;
      margin-left: auto;
    }

  }

  .rating-wrap {


    align-items: center;
    display: flex;

    .num-rating {
      background: #333;
      border-radius: 4px;
      color: #fff;
      font-size: 0.75rem;
      line-height: 0.8rem;
      margin-left: 5px;
      padding: 3px 5px;
    }
  }

  .star-rating {
    display: inline-block;

    .lucide-star,
    .lucide-star-half {
      color: #222;
    }

    .lucide-star.empty {
      color: #bbb;
      opacity: 0.6;

    }

    .half-star {
      display: inline-block;
      position: relative;

      .lucide-star.empty {
        left: 0;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }
  }

  .beer-specs {

    border-top: 1px solid #eaeaea;
    margin-top: 20px;


    .beer-spec {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .beer-spec > p {
      color: #999;
      font-size: 0.8rem;
      text-transform: uppercase;

    }

  }

  .beer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:first-child {
      border-bottom: 1px solid #eaeaea;
      margin-bottom: 15px;
    }

    .subheading {
      font-size: 0.8rem;
      letter-spacing: 2px;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .beer-label {
      max-width: 100px;
      min-width: 100px;
      width: 25%;

      .logo-wrap__sm {
        max-width: 60px;
      }
    }

    .beer-info-content {
      align-self: center;
      min-width: 75%;
      width: 75%;
    }
  }

  .card {
    border: 1px solid #eaeaea;
    border-radius: 25px;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  .py-1 {
    padding: 1rem 0 !important;
  }

  .px-1 {
    padding: 0 1rem !important;
  }

  .p-1 {
    padding: 1rem !important;
  }


  .padding-05 {
    padding: 0.5rem;
  }

  h1 {
    &.display-sm {
      font-size: 2.5rem;
      font-weight: 800;
    }
  }

  h3 {
    &.display-sm {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  .m-0 {
    margin: 0 !important;
  }

  .mb-1 {
    margin-bottom: 1rem !important;
  }

  .pb-0 {
    padding-bottom: 0 !important;
  }

}


@media (min-width: 40.0rem) {


}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}